<footer class="container">
  <div class="row">
    <div class="col-md-auto">
      <img src="./../../../assets/images/logo-voxus-gray.svg" alt="Voxus" title="Voxus">
    </div>
    <div class="col-auto">
      <ul id="footer-nav">
        <li>
          <a routerLink="">Termos de serviço</a>
        </li>
        <li>
          <a routerLink="">Política de privacidade</a>
        </li>
        <li>
          <a routerLink="">Opções de anúncio</a>
        </li>
      </ul>
    </div>
  </div>
</footer>