
@import './../../../assets/sass/imports/media-queries'

footer
  padding: $DEFAULT_SPACING * 2
  border-top: 2px solid rgba(0, 0, 0, .1)
  margin-top: $DEFAULT_SPACING * 2
  @include MQ(SM)
    margin-top: $DEFAULT_SPACING * 3
  @include MQ(MD)
    margin-top: $DEFAULT_SPACING * 4

#footer-nav
  list-style: none
  padding-left: 0
  margin: $DEFAULT_SPACING 0 0 0
  @include MQ(MD)
    margin: 0
  li
    margin: 10px 0
    &:first-child
      margin-top: 0
    &:last-child
      margin-bottom: 0
    @include MQ(MD)
      display: inline-block
      margin: 0
      &:not(:last-child)
        margin-right: $DEFAULT_SPACING
      



a
  font-size: 14px
  color: #748296