
@import './../../../assets/sass/imports/media-queries'

#page-header
  padding: $DEFAULT_SPACING * 2
  @include MQ(SM)
    padding: $DEFAULT_SPACING * 3
  @include MQ(MD)
    padding: $DEFAULT_SPACING * 4

br
  display: none
  @include MQ(LG)
    display: block