<header id="page-header" class="container">
  <div class="row">
    <div class="column col-md-8 offset-md-2 text-align-center">
      <h1>Você está a poucos passos de<br> otimizar suas campanhas!</h1>
      <p>Queremos conhecer mais sobre sua empresa para<br> melhorar sua experiência com a Voxus.</p>
    </div>
  </div>
</header>
<app-form-trial></app-form-trial>