
@import './../../../assets/sass/imports/media-queries'

#form-container
  padding: 0 30px

form
  background-color: #FFF
  padding: $DEFAULT_SPACING * 2
  border-radius: 3px
  box-shadow: 0 4px 40px 0 rgba(116, 130, 150, .2)

button
  width: 100%
  background-color: #14E298
  color: #FFF
  transition: all .5s
  outline: none
  &:hover
    background-color: #23F7AB

.button-sent
  background-color: transparent
  color: #14E298
  border: 1px solid #14E298
  &:hover
    background-color: transparent
    color: #14E298
    border: 1px solid #14E298

.row-sent
  margin-top: $DEFAULT_SPACING * 2
  @include MQ(SM)
    margin-top: $DEFAULT_SPACING * 3
  @include MQ(MD)
    margin-top: $DEFAULT_SPACING * 4