<div id="form-container" class="container">
  <div class="row">
    <div class="column col-sm-8 offset-sm-2 col-md-6 offset-md-3 text-align-center">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" disabled>
        <mat-form-field appearance="outline">
          <mat-label>Nome completo</mat-label>
          <input matInput type="text" autofocus [formControl]="myForm.controls.nomeCompleto">
          <mat-error *ngIf="myForm.controls.nomeCompleto.invalid">{{getValidationErrorMessage('nomeCompleto')}}</mat-error>
        </mat-form-field>
        <div class="row">
          <div class="col-6 col-lg-5">
            <mat-form-field appearance="outline">
              <mat-label>País</mat-label>
              <mat-select [formControl]="myForm.controls.pais">
                <mat-option value="BR">Brasil</mat-option>
                <mat-option value="DK">Dinamarca</mat-option>
                <mat-option value="ES">Espanha</mat-option>
                <mat-option value="GB">Reino Unido</mat-option>
                <mat-option value="US">Estados Unidos</mat-option>
              </mat-select>
              <mat-error *ngIf="myForm.controls.pais.invalid">{{getValidationErrorMessage('pais')}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-6 col-lg-7">
            <mat-form-field appearance="outline">
              <mat-label>Telefone</mat-label>
              <input matInput type="tel" [formControl]="myForm.controls.telefone">
              <mat-error *ngIf="myForm.controls.telefone.invalid">{{getValidationErrorMessage('telefone')}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Endereço de e-mail</mat-label>
          <input matInput type="email" [formControl]="myForm.controls.email">
          <mat-error *ngIf="myForm.controls.email.invalid">{{getValidationErrorMessage('email')}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Nome da empresa</mat-label>
          <input matInput type="text" [formControl]="myForm.controls.nomeEmpresa">
          <mat-error *ngIf="myForm.controls.nomeEmpresa.invalid">{{getValidationErrorMessage('nomeEmpresa')}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>URL do site</mat-label>
          <input matInput type="text" [formControl]="myForm.controls.urlSite">
          <mat-error *ngIf="myForm.controls.urlSite.invalid">{{getValidationErrorMessage('urlSite')}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Verba mensal em mídia</mat-label>
          <mat-select [formControl]="myForm.controls.verbaMensalMidia">
            <mat-option value="Até R$ 5000">Até R$ 5.000</mat-option>
            <mat-option value="Entre R$ 5000 e R$ 30.000">Entre R$ 5.000 e R$ 30.000</mat-option>
            <mat-option value="Entre R$ 30.000 e R$ 100.000">Entre R$ 30.000 e R$ 100.000</mat-option>
            <mat-option value="Entre R$ 100.000 e R$ 500.000">Entre R$ 100.000 e R$ 500.000</mat-option>
            <mat-option value="Mais que R$ 500.000">Mais que R$ 500.000</mat-option>
            <mat-option value="Não se aplica">Não se aplica</mat-option>
          </mat-select>
          <mat-error *ngIf="myForm.controls.verbaMensalMidia.invalid">{{getValidationErrorMessage('verbaMensalMidia')}}</mat-error>
        </mat-form-field>
        <button mat-flat-button type="submit" [disabled]="myForm.invalid || myForm.disabled" [ngClass]="{'button-sent' : sent}">{{ !sent ? 'Experimentar Gratuitamente' : 'Obrigado!' }}</button>
        <p *ngIf="sent">Entraremos em contato em até 24hs úteis.</p>
      </form>
    </div>
  </div>
  <div class="row row-sent" *ngIf="sent">
    <div class="column col-sm-8 offset-sm-2 col-md-6 offset-md-3 text-align-center">
      <p>Para usar o trial grátis você precisa ser um e-commerce e concordar com os termos e requisitos do trial gratuito. Saiba mais em: <a routerLink="">Termos e requisitos de trial gratuito</a></p>
    </div>
  </div>
</div>