
@import './imports/variables'

#app-container
  background-color: #F5F7FA
  background-image: url('./assets/images/background.png')
  background-repeat: no-repeat
  background-position: center bottom
  background-size: contain

body
  color: #748296
  line-height: 1.5

h1, h2, h3, h4, h5, h6
  font-weight: 500
  color: #333
  line-height: 1.35
  margin: $DEFAULT_SPACING 0

p
  margin: $DEFAULT_SPACING / 2 0

a
  outline: none

.container
  max-width: 960px

.column
  > *
    &:first-child
      margin-top: 0
    &:last-child
      margin-bottom: 0

.text-align-center
  text-align: center

@import './material'