.mat-form-field
  width: 100%

.mat-form-field-label
  color: rgba(45, 58, 64, 0.3)

.mat-form-field-appearance-outline
  .mat-form-field-outline,
  .mat-form-field-outline-thick
    color: #E3E6EA
    .mat-form-field-outline-end,
    .mat-form-field-outline-gap,
    .mat-form-field-outline-start
      border-width: 1px !important

.mat-form-field.mat-focused
  .mat-form-field-label,
  .mat-input-element
    color: #000
    caret-color: #000
  .mat-form-field-outline-start,
  .mat-form-field-outline-gap,
  .mat-form-field-outline-end
    border-color: #326FFF

// .mat-form.field.mat-focused
//   .mat-form-field-label
//     background-color: #F90 !important

// .mat-form-field-outline-gap
//   border-width: 1px

// .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start
//   border: 1px solid #326FFF !important
//   border-right: none !important

// .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap
//   border: 1px solid #326FFF !important
//   border-width: 0 0 1px 0 !important

// .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end
//   border: 1px solid #326FFF !important
//   border-left: none !important


// .mat-form-field.mat-focused .mat-form-field-label
//   color: #2D3A40 !important

// .mat-input-element
//   color: #000 !important
//   caret-color: #000 !important